
@{
    ViewBag.Title = "files";
    Layout = "~/Views/shared/_PageLayout.cshtml";
}

<h2>files</h2>

<div class="Services-f">

    <i class="fas fa-heartbeat" style="font-size:50px;text-align:center"></i>
    <h3 id="title"> العلامات الحيويه </h3>
</div>
<div class="Services-f">
    <i class="fas fa-laptop-medical"style="font-size:50px;text-align:center"></i>    
    <h3 id="title"> بيانات الاطفال </h3>
</div>

<div class="Services-f">
    <i class="fas fa-hand-holding-medical"style="font-size:50px;text-align:center"></i>
    <h3 id="title"> دليل تطور الطفل </h3>
</div>
<div class="Services-f">
    <i class="fas fa-shield-virus"style="font-size:50px;text-align:center"></i>
    <h3 id="title">شهاده التطعيم</h3>
</div>
