
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_PageLayout.cshtml";
}



<h2 id="hed">الخدمات</h2>
<br />

<div class="Services" id="ser1">
    <i class="fa fa-check-square" style="font-size:50px;text-align:center"></i>
    <a href="#"><h3 id="title"> الموافقه على التطعيم</h3></a> 
</div>
<div class="Services" id="ser2">
    <i class="fa-solid fa-laptop-medical" style="font-size:50px"></i>



    <i class="fas fa-notes-medical"></i>
    <a href="~/doc/files"><h3 id="title">سجلات الاطفال</h3></a>
</div>
<div class="Services"id="ser3">
    <i class="fa-solid fa-comment-medical" style="font-size:50px"></i>
    <a href="#"><h3 id="title"> الاستشارات الطبيه </h3></a>
</div>