body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px auto;
    margin: 0px;
    padding: 0px;
}

.header {
    /*
    background-image: url('../imgs/wallpaper3.jpg');
    background-size: cover;
        */
    background-color: white;
    padding-bottom: 15px;
}

    .header img {
        float: right;
        padding-right: 50px;
        padding-top: 20px;
        padding-left: 50px;
    }

.topmenu1 {
    display: inline-block;
    margin-top: 40px;
    margin-right: 20px;
    float: right;
}

.topmenu1 li {
    display: inline;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 18px;
    text-align:center;
}

    .topmenu1 ul li a {
        text-decoration: none;
        color: black;
    }

        .topmenu1 ul li a:hover {
            text-shadow: 0 0 5px #2b9983;
            color: #2d8064;
        }

.topmenu2 {
    display: inline-block;
    margin-top: 40px;
    margin-right: 20px;
    float: none;
}

    .topmenu2 li {
        display: inline;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 18px;
        text-align: center;
    }

    .topmenu2 ul li a {
        text-decoration: none;

    }

    .topmenu2 .login a {
        color: #369c7f;
    }

        .topmenu2 .login a:hover {
            color: #17523a;
            text-shadow: 0 0 5px #2b9983;
        }

    .topmenu2 .signup div {
        border-radius: 5px;
        display: inline;
        background-color: #2d8064;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 2px;
        padding-bottom: 2px;
        border: 1.5px solid black;
    }

.topmenu2 .signup div a{
    color:white;
        }

        .topmenu2 .signup div:hover {
            background-color: #45c793;
            box-shadow: 0 0 5px #2b9983;
        }

        .topmenu2 .signup div a:hover {
            color: white;
        }
            .usericon {
            padding-bottom: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
        }


.user {
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
}

.exit {
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .exit a {
        text-decoration: none;
        color: white;
    }

.options {
    display: flex;
    align-items: center;
    justify-content: center;

}

    .options a {
        text-decoration: none;
        color: white;
    }


.footer {
    text-align: center;
    font-size: x-small;
    /*
    background-image: url('../imgs/wallpaper3.jpg');
    background-size: cover;
        */
    background-color: white;
}

.footerpotions ul li {
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
}

.footerpotions ul a {
    text-decoration: none;
    color: black;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #4aa991;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    align-items: center;
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: white;
        display: block;
        transition: 0.3s;
    }

        .sidenav a:hover {
            color: black;
        }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}


.menu {
    float: left;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 10px;
}

/*
.readmore {
    border-radius: 5px;
    display: inline;
    background-color: #2d8064;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1.5px solid black;
}
*/