body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-image: url('../imgs/wallpaper3.jpg');
    background-size: cover;
    
}

    .header img {
        float: right;
        padding-right: 50px;
        padding-bottom: 20px;
        padding-top: 20px;
        padding-left: 50px;
    }

.staticcontent {
    background-color: #4aa991;
    width: 20%;
}


.staticoptions .user {
    padding-bottom: 50px;
}

.staticcontent .user a {
    text-decoration: none;
    color: white;
}

.staticoptions .exit {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .staticoptions .exit a {
        text-decoration: none;
        color: white;
    }



.staticoptions {
    text-align: center;
    color: white;
    padding: 30px;
}

.staticoptions div{
    padding: 10px;
}

.options {
    display: flex;
    align-items: center;
    justify-content: center;

}

    .options a {
        text-decoration: none;
        color: white;
    }

.dynamiccontent {
    width: 80%;
    background-color: #fafafa;
}

.footer {
    text-align: center;
    font-size: x-small;
    background-image: url('../imgs/wallpaper3.jpg');
    background-size: cover;
}

.footerpotions ul li {
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
}

.footerpotions ul a {
    text-decoration: none;
    color: black;
}