
@{
    ViewBag.Title = "منصة تحصين";
    Layout = "~/Views/shared/_PageLayout.cshtml";
}


<section id="bsection">
    <div id="bsection-div">
        <div id="s1" data-aos="fade-down" data-aos-duration="1500">
            <h1 id="bsectiondivh1">..احميهم</h1>
            <h1>وتابع تطعيماتهم</h1>
        </div>

        <div id="s2">

            <img src="~/imgs/slider1.png" width="720" height="480" />
        </div>
    </div>
</section>


<section id="bsection">
    <div id="bsection-div">
        <div id="s3">

            <img src="~/imgs/slider5.jpg" width="750" height="500" />
        </div>

        <div id="s4" data-aos="fade-down" data-aos-duration="1500">
            <h1 id="bsectiondivh1">طبيبك معاك</h1>
            <h2>
                تواصل مع أطباء الأطفال
                عبر خدمة الاستشارات الطبية
            </h2>
        </div>
    </div>
</section>

<section id="bsection">
    <div id="bsection-div">
        <div id="s5" data-aos="fade-down" data-aos-duration="1500">
            <h2 id="bsectiondivh2"> التطعيمات الأساسية</h2>
            <article>
                تهدف التطعيمات الأساسية المحددة في شهادة التطعيمات، منذ الولادة وحتى دخول الصف الأول الابتدائي
            </article>
            <article>.إلى حماية الأطفال بالمملكة وفئات المجتمع من الأمراض المستهدفة بالتحصين ،</article>

        <div id="readmore"><a href="#">...اقرأ المزيد</a></div>

        </div>

       <div id="s6">

            <img src="~/imgs/00.jpg" width="550" height="500" />
        </div>
    </div>
</section>


<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>