
@{
    ViewBag.Title = "test";
    Layout = "~/Views/shared/_PageLayout.cshtml";
}

<section>
    <div data-aos="fade-left" data-aos-duration="1500" style="padding-top:80px; padding-bottom: 80px;">
        <img src="~/imgs/slider.jpg" width="100%" />
    </div>
    <div data-aos="fade-right" data-aos-duration="1500"  style="padding-top:0px; padding-bottom: 80px;">
        <img src="~/imgs/slider2.jpg" width="100%" />
    </div>
</section>

<section class="content">
    <div>
        <div style="display: inline-block; float: right; margin-right: 90px;">
            
            <img src="~/imgs/00.jpg" width="400px" height="400px" style="border-radius: 30%;"/>
            
                </div>
        <div style="display: inline-block; float: left; margin-left: 20%;" data-aos="fade-right" data-aos-duration="1500" >
            
            <h1 style="font-size: 60px; text-align: right; color: forestgreen;">جدول التطعيمات</h1>
            <article style=" font-size: 20px; text-align: right; width: 500px; height: 300px;">تهدف التطعيمات الأساسية  المحددة في شهادة التطعيمات، منذ الولادة وحتى دخول الصف الأول الابتدائي، إلى حماية الأطفال بالمملكة وفئات المجتمع من الأمراض المستهدفة بالتحصين</article>
            
            <!--
            <div class ="readmore" style="text-align: right; width: 100px; height: 30px;">
                <h2><a href="#">تعرف على التطعيمات الأساسية</a></h2>
            </div>

            -->
              
        </div>
    </div>
</section>


<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>
