<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial scale=1" />
    <title>@ViewBag.Title</title>
    <link href="~/CSS/StyleSheet.css" rel="stylesheet" />
    <link rel="icon" type="image/png" sizes="50x20" href="~/imgs/favicon.ico">
</head>
<body>
    <table style="width:100%;">
        <tr>
            <td class="header" colspan="2">
                <a href="#">
                    <img src="~/imgs/Logo.png" Height="82px" Width="48px" />
                </a>
                
            </td>
        </tr>

        <tr>
            <td class="staticcontent">
                <div class="staticoptions">

                    <div class="user">
                        <img src="~/imgs/user.png" Height="82px" Width="85px" />
                        <div><b><a href="#">الملف الشخصي</a></b></div>
                    </div>


                    <div class="options">
                        <div><a href="#">الإعدادات</a></div><img src="~/imgs/settings.png" Height="25px" Width="25px" />
                    </div>
                    <div class="options">
                        <div><a href="#">مركز المساعدة</a></div><img src="~/imgs/telephone.png" Height="25px" Width="25px" />
                    </div>
                    <div class="options">
                        <div><a href="#">الاسئلة الشائعة</a></div><img src="~/imgs/questionmark.png" Height="25px" Width="25px" />
                    </div>
                    <div class="options">
                        <div><a href="#">عن تحصين</a></div><img src="~/imgs/info.png" Height="25px" Width="25px" />
                    </div>



                    <div class="exit">
                        <div><b><a href="#">تسجيل الخروج</a></b></div><img src="~/imgs/exit.png" Height="25px" Width="25px" />
                    </div>

                </div>

            </td>

            <td class="dynamiccontent">
                @RenderBody()
            </td>
        </tr>

        <tr>
            <td class="footer" colspan="2">
                <div class="footerpotions">
                    <ul>
                        <a href="#"><li>الشروط والأحكام</li></a>
                        <li> | </li>
                        <a href="#"><li>دليل الاستخدام</li></a>
                    </ul>
                </div>
                
                <h3>الحقوق محفوظة لمنصة تحصين &copy; 2022</h3>
            </td>
        </tr>
    </table>

</body>
</html>
