<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial scale=1" />
    <title>@ViewBag.Title</title>
    <link href="~/CSS/StyleSheet.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="icon" type="image/png" sizes="50x20" href="~/imgs/tahseen.ico">

    <link href="https://fonts.googleapis.com/css2?family=Almarai:wght@700&family=Cairo:wght@200;300&family=IBM+Plex+Sans+Arabic&family=Noto+Kufi+Arabic:wght@200&family=Tajawal:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <table style="width:100%">
        <tr>
            <td class="header" colspan="2">
                <a href="#">
                    <img src="~/imgs/Logo.png" Height="82" Width="48" />
                </a>


                <div class="topmenu1">
                    <ul>
                        <li><a href="#">الرئيسية</a></li>
                        <li><a href="#">عن تحصين</a></li>
                        <li><a href="#">الاسئلة الشائعة</a></li>
                        <li><a href="#">مركز المساعدة</a></li>
                    </ul>
                </div>

                <div class="topmenu2">
                    <ul>
                        <li class="login"><a href="#">تسجيل الدخول</a></li>
                        <li> | </li>
                        <li class="signup"><div><a href="#">حساب جديد</a></div></li>
                    </ul>
                </div>

                <span class="menu" style="font-size:30px;cursor:pointer" onclick="openNav()"><img src="~/imgs/menu2.png" Height="45px" Width="45px" /></span>


                <div id="mySidenav" class="sidenav">

                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

                    <div class="usericon">
                        <img src="~/imgs/user2.png" Height="82px" Width="85px" />
                    </div>

                    <div class="user"><b><a href="#">الملف الشخصي</a></b></div>


                    <div class="options">
                        <div><a href="#">الإعدادات</a></div><img src="~/imgs/settings.png" Height="25px" Width="25px" />
                    </div>
                    <div class="options">
                        <div><a href="#">مركز المساعدة</a></div><img src="~/imgs/telephone.png" Height="25px" Width="25px" />
                    </div>
                    <div class="options">
                        <div><a href="#">الاسئلة الشائعة</a></div><img src="~/imgs/questionmark.png" Height="25px" Width="25px" />
                    </div>
                    <div class="options">
                        <div><a href="#">عن تحصين</a></div><img src="~/imgs/info.png" Height="25px" Width="25px" />
                    </div>

                    <div class="exit">
                        <div><b><a href="#">تسجيل الخروج</a></b></div><img src="~/imgs/exit.png" Height="25px" Width="25px" />
                    </div>

                </div>



            </td>
        </tr>
        <tr>

                
            <td class="dynamiccontent">
                @RenderBody()
            </td>
        </tr>

        <tr>
            <td class="footer" colspan="2">
                <div class="footerpotions">
                    <ul>
                        <li><a href="#">الشروط والأحكام</a></li>
                        <li> | </li>
                        <li><a href="#">دليل الإستخدام</a></li>
                    </ul>
                </div>

                <h3>الحقوق محفوظة لمنصة تحصين &copy; 2022</h3>
            </td>
        </tr>
    </table>

    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "350px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>

</body>
</html>
